[
    {
        "name": "MFT-${MFT_NUMBER}",
        "image": "${ECR_IMAGE}",
        "cpu": 0,
        "portMappings": [
            {
                "name": "mft-${MFT_NUMBER}-8000-tcp",
                "containerPort": 8000,
                "protocol": "tcp",
                "appProtocol": "http"
            }
        ],
        "essential": true,
        "environment": [
            {
                "name": "SYSTEM_NAME",
                "value": "MFT-${MFT_NUMBER}"
            },
            {
                "name": "DB_USERNAME",
                "value": "${DB_USERNAME}"
            },
            {
                "name": "DB_ADDRESS",
                "value": "${DB_ADDRESS}"
            },
            {
                "name": "DB_PASSWORD",
                "value": "${DB_PASSWORD}"
            },
            {
                "name": "ADMIN_DB_USERNAME",
                "value": "${ADMIN_DB_USERNAME}"
            },
            {
                "name": "ADMIN_DB_PASSWORD",
                "value": "${ADMIN_DB_PASSWORD}"
            },
            {
                "name": "MFT_CLUSTER",
                "value": "${MFT_CLUSTER}"
            },
            {
                "name": "FORCE_REFRESH",
                "value": "${FORCE_REFRESH}"
            }
        ],
        "mountPoints": [
            {
                "sourceVolume": "ga_ap_userdata",
                "containerPath": "/opt/Fortra/GoAnywhere/userdata/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_sharedconfig",
                "containerPath": "/etc/Fortra/GoAnywhere/sharedconfig/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_upgrader",
                "containerPath": "/opt/Fortra/GoAnywhere/upgrader/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_config",
                "containerPath": "/etc/Fortra/GoAnywhere/config/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_tomcatserver",
                "containerPath": "/etc/Fortra/GoAnywhere/tomcat/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_tomcatlog",
                "containerPath": "/opt/Fortra/GoAnywhere/tomcat/logs/",
                "readOnly": false
            },
            {
                "sourceVolume": "ga_ap_ghttpsroot",
                "containerPath": "/opt/Fortra/GoAnywhere/ghttpsroot/custom/",
                "readOnly": false
            }
        ],
        "volumesFrom": [],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-group": "/ecs/ga-td",
                "awslogs-region": "ca-central-1",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "healthCheck": {
            "command": [
                "CMD-SHELL",
                "curl -f http://localhost:8000/ || exit 1"
            ],
            "interval": 30,
            "timeout": 5,
            "retries": 3,
            "startPeriod": 120
        },
        "systemControls": []
    }
]