name: Pull Request

on:
  pull_request:
    branches:
      - main

env:
  AWS_REGION : "ca-central-1"
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  IMAGE_REPO_TAG: bac-lac-gc-ca/mft:${{ github.head_ref || github.ref_name }}-${{github.sha}}

permissions:
      id-token: write
      contents: read
      actions: write

jobs:
  Changed-files:
    runs-on: ubuntu-latest
    name: Check core files for changes
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files in the core folder
        id: changed-files-specific
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        with:
          since_last_remote_commit: true
          files: |
            terraform/core/**
            .github/workflows/deploy_core.yml

      - name: Run step if any file(s) in the core folder change
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files-specific.outputs.all_changed_files }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "One or more files in the core folder has changed."
          echo "List all the files that have changed: $ALL_CHANGED_FILES"
          gh run cancel ${{ github.run_id }}

  Code-check:
    needs: Changed-files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run shellcheck
        uses: sudo-bot/action-shellcheck@latest
        with:
          cli-args: "./docker/scripts/*.sh"
      
      - name: Checkov security scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform/workload
          output_format: cli

  Build:
    needs: Code-check
    runs-on: ubuntu-latest
    outputs:
      ecr_image: ${{ steps.login-ecr.outputs.registry }}/${{ env.IMAGE_REPO_TAG }}@${{ steps.build-push.outputs.digest }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_DEVOPS_ROLE }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{env.AWS_REGION}}
          role-skip-session-tagging: true
          audience: sts.amazonaws.com

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        id: build-push
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.IMAGE_REPO_TAG }}

  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    environment: "pr"
    defaults:
      run:
        working-directory: ./terraform/workload
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_DEVOPS_ROLE }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
          role-skip-session-tagging: true
          audience: sts.amazonaws.com

      - name: Create tfvars file
        uses: ./.github/actions/create-tfvars-file
        with:
          secrets: ${{ toJSON(secrets) }}
          vars: ${{ toJSON(vars) }}
          
      - name: Add Dynamic Variables to tfvars
        run: |
          echo 'BRANCH_ENV = "${{ env.BRANCH_NAME == 'main' && vars.ENV || env.BRANCH_NAME }}"' >> pipeline.auto.tfvars
          echo 'BRANCH_NAME = "${{ env.BRANCH_NAME }}"' >> pipeline.auto.tfvars
          echo 'ECR_IMAGE = "${{ needs.Build.outputs.ecr_image }}"' >> pipeline.auto.tfvars

      - name: Zip Lambda Function
        run: |
          zip -j lambda.zip tag/lambda_function.py

      - name: Terraform-Setup
        id: Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: true

      - name: Terraform-Init
        id: Init
        run: terraform init 
            -backend-config="dynamodb_table=main-tfstate-lock-1a6f390e" 
            -backend-config="key=${{ vars.ENV }}/${{ env.BRANCH_NAME }}/terraform.tfstate"

      - name: Terraform-Apply
        id: Apply
        run: terraform apply -var-file="pipeline.auto.tfvars" -var="CERT_BODY=${{ secrets.CERT_BODY }}" -var="CERT_CHAIN=${{ secrets.CERT_CHAIN }}" -var="CERT_PRIVATE_KEY=${{ secrets.CERT_PRIVATE_KEY }}" -auto-approve